<p>This project <strong>was paid</strong> and the user is awaiting for the results.</p>
<p>Be sure to click the button to advance to the next step as soon as the analysis arrives, notifying the user.</p>

<%= form.hidden_field :status, value: 'getting_data' %>
