<% content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'pages/dashboard', media: 'all' %>
<% end %>

<div class="container">
  <div class="slogan">
    <h1>Dashboard</h1>
    <%= link_to fa_icon('flask', text: 'Experiments'), experiments_path, class: "btn btn-primary pull-right" %>
    <p class="lead">Manage and update the projects</p>
    <hr/>
  </div>

  <% if @projects.any? %>
    <%= render partial: 'projects' %>
  <% else %>
    <p>No projects were found.</p>
  <% end %>
</div>

<script>
$(document).ready(function(){
  $('.dropify').dropify({
    messages: { 'default': 'Drag and drop the project report file here' }
  });
});
</script>
