.waiting-list { float: left; margin-top: 7px; color: #aaa; }

.scope-check { margin-left: 15px; }

.design-attribute {
  .col-xs-12 {
    margin-bottom: 18px;
  }
  label {
    min-width: 170px;
    padding-right: 15px;
    text-align: right;
  }
  select {
    min-width: 120px;
    margin-right: 10px;
  }
  p {
    margin: 6px 0 15px 175px;
    color: #aaa;
  }
}

.stripe-button-el { margin-bottom: 10px; }

.timeline-entry { display: none; }

.project { margin-bottom: 35px; }
.project .description { padding-left: 30px; }
.project .actions { margin-top: 25px; text-align: right; }
.project .actions li { list-style-type: none; display: inline; margin-left: 20px; font-size: 16px; }
.project-owner { font-weight: 400; }

@media(max-width:767px){
  .scope-check { margin-left: 0; }

  .design-attribute {
    label {
      text-align: left;
    }
    p {
      margin-left: 0;
    }
  }
  .stripe-button-el { margin-left: 0; width: 100%; }
  .project .fa { display: none; }
  .project .description { padding-left: 15px; margin: 18px 0 15px auto; }
  .project .actions { display: none; }
}

.project-icon {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}
.project-thumbnail {
  border-radius: 5px;
}
.project-visibility {
  margin-left: -25px;
  margin-right: 7px;
  color: #ddd;
}
.project-pending {
  color: #b26a36;
}
.project-running {
  color: #3679b2;
}
.project-completed {
  color: #44b236;
}

.btn .fa {
  margin-right: 10px;
}

.file-input {
  p strong {
    font-weight: 500;
    font-size: 18px;
  }
  p a img {
    margin-top: 15px;
  }
  p img {
    margin-right: 50px;
  }
}

// Timeline
$main-text: #7f8c97;  // main text
$link: #acb7c0;       // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow
$color-6: #428bca; // blue
$color-7: #9a6adc; // purple
$color-8: #ed7c4a; // orange

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

.cd-container {
	width: 90%;
	margin: 0 auto;

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

header {
	height: 200px;
	line-height: 200px;
	text-align: center;
	background: $color-1;
	h1 {
		color: $color-3;
		@include font-size(18px);
	}
}

#cd-timeline {
	position: relative;
	padding: 3.5em 0;
  margin: {
    top: 2em;
    bottom: 2em;
  }
	&::before {
		/* vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: darken($background, 5%);
	}
  h2 {
    margin-top: 10px;
    font-size: 22px;
  }
  p, .cd-date {
    font-size: 14px;
  }
	margin: {
		top: -20px;
		bottom: 3em;
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
	@include clearfix;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;
	.fa {
    font-size: 24px;
    color: #fff;
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}
	&.cd-green {
		background: $color-4;
	}
	&.cd-movie {
		background: $color-2;
	}
	&.cd-location {
		background: $color-5;
	}
  &.cd-running {
		background: $color-6;
	}
  &.cd-plating {
		background: $color-7;
	}
  &.cd-picture {
		background: $color-8;
	}
}

@include keyframes(cd-bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}
	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}
	100% {
		@include transform(scale(1));
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: $color-3;
	@include border-radius;
	padding: 1em;
	box-shadow: 0 3px 0 darken($background, 5%);
	@include clearfix;
	h2 {
		color: $color-1;
	}
	p {
		margin: 1em 0;
		line-height: 1.6;
	}
	.cd-date {
    @include font-size(13px);
    display: inline-block;
		float: left;
		padding: .8em 0;
		opacity: .7;
	}
	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 8px solid $color-3;
	}
}

@include keyframes(cd-bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(cd-bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
	}
}
