<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>We have started to collect the data from your project!</p>
    <p>You can check more information in your <%= link_to "project's timeline", username_project_path(@project.user.username, @project) %>.</p>
  </body>
</html>
