@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html * {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html { overflow-y: scroll; }
body { padding-top: 50px; }
h1 { margin-top: 50px; }

.jumbotron {
	background-color: #428bca;
	text-align: center;
	margin-bottom: 0;

	h1 {
		color: #fff;
		font-size: 70px;
		text-shadow: 1px 1px 5px #20649f;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
	}
	.lead {
		-webkit-font-smoothing: antialiased;
		color: #fff;
		margin-bottom: 80px;
		text-shadow: 1px 1px 5px #20649f;
	}
	.fa-stack-2x {
		color: #fff;
	}
	.text-primary {
		color: #428bca;
	}
	.features {
		color: #fff;
		h3 {
			font-size: 20px;
			font-weight: 800;
			-webkit-font-smoothing: antialiased;
		}
		p {
			margin-top: 18px;
			font-size: 15px;
		}
	}
}

.btn-blue {
	background-color: #428bca;
	color: #fff;
}

.navbar-white { background-color: #fff; border-bottom: 2px solid #efefef; height: 96px; }
.navbar-white .navbar-nav { margin-top: 28px; }
.navbar-white .navbar-nav .divisor { margin: 3px 0 0 10px; color: #aaa; font-weight: 100; font-size: 22px; }
.navbar-white .navbar-nav > li.active > a { color: #000; }
.navbar-white .navbar-nav > li > a { height: 40px; line-height: 8px; margin-left: 10px; }
.navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus { background-color: inherit }
.navbar-white .navbar-nav > li > .btn-blue:hover { background-color: #20649f; color: #fff; }
.navbar-white .navbar-nav > li > .btn-default:hover { background-color: #eee }
.navbar-white .navbar-toggle { background-color: #377bb5; margin-top: 30px; }
.navbar-white .navbar-toggle .icon-bar { background-color: #fff; }

.collapsing, .in {background-color: #f7f7f7; margin-top: 24px;}
.collapsing, .in .divisor { display: none; }
.collapsing, .in .navbar-right { margin-top: -10px; }
.collapsing, .in .navbar-right a { margin-left: 26px; display: block; width: 100px; margin-bottom: 20px; }

form.navbar-nav .btn {
	margin-top: 3px;
}

.slogan { padding: 30px 0; }
.slogan h1 { font-weight: normal; font-size: 28px; }
.slogan .lead { font-weight: 300; font-size: 18px; color: #999; }

.nav-inner { float: right; margin-top: 80px; }

.explore { margin-bottom: 25px; }
.explore img { margin-bottom: 15px; }

.element-container { text-align: center; }
.element-container img { width: 100px; height: 100px; }
.element-container p { font-size: 15px; margin-top: 5px; }

#strobeMediaPlayback { width: 100%; height: 250px; }

.social { margin-top: -12px; display: block; clear: both; background-color: #fff; height: 55px;}
.twitter-share-button, .fb-share-button { float: right; margin-left: 15px; }

.video { margin-bottom: 50px; }

.img-thumbnail { border-radius: 0; border-color: #ddd; }
.img-thumbnail:hover { border-color: #888; }
.lighterbox-title, .lighterbox-desc { display: none; }
.lighterbox-overlay-title { font-size: 18px; }

/* Sticky footer */
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }
.footer { position: absolute; bottom: 0; width: 100%; height: 60px; }
.footer hr.small { width: 105px; }
.footer-inner { border-top: 1px solid #ccc; }
.footer-inner p { padding-top: 20px; text-align: center; }
.complete { border-top: 1px solid #ccc; padding-top: 25px; margin-bottom: 12px;}
