body.devise {
  background: #6493b7 url(asset_path('bg.png')) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}

h1 img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 1px solid #eee;
  background-color: #fff;
  float: left;
  margin: 0 13px 0 0;
}

.alert {
  display: none;
  padding: 6px 10px;
  margin-bottom: 25px;
}

.default-flash {
  margin-top: 75px;
  margin-bottom: -55px;
}

.nav-pills {
  float: right;
  margin-top: 55px;
}


.form-error { float: left; margin: 3px 0 -19px 0; }

.wrapper {
	margin-top: 70px;
  margin-bottom: 20px;
}

.form-signin-logo {
  margin: 0 auto;
  display: block;
}


.form-signin {
  max-width: 410px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #fff;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    margin: 15px auto;
  }

  .form-signin-lead {
	  margin: 15px 0 20px 0;
    text-align: center;
    font-size: 18px;
    color: #555;
	}

  hr {
    margin-bottom: 26px;
  }

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;


		&:focus {
		  z-index: 2;
		}
	}

  input[type="text"] {
	  margin-bottom: 15px;
	}

	input[type="email"] {
	  margin-bottom: 15px;
	}

	input[type="password"] {
	  margin-bottom: 15px;
	}

  input[type="submit"] {
	  margin-top: 30px;
    margin-bottom: -15px;
	}
}

.signup {
  max-width: 410px;
  margin: 0 auto;
  padding: 15px 35px;
  background-color: #010101;
  border: 1px solid #010101;

  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  span {
    font-size: 20px;
    text-align: center;
    display: block;
    font-weight: 300;
    color: #fff;
    a {
      font-weight: 500;
      color: #fff;
      text-decoration: none;
      margin: 0 5px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.reset-password {
  text-align: center;
  a {
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    font-weight: 500;
    font-size: 16px;
  }
}
