<div class="container tos">
  <div class="slogan">
    <h1>CUSTOMER AND USER AGREEMENT</h1>
    <p class="lead">Effective Date: June 18, 2015</p>
    <hr/>
  </div>

  <p>If you are entering into this agreement on behalf of a company or other
legal entity, you represent that you have theauthority to bind such entity, its
affiliates and all users who access our Services through your account to these
terms and conditions, in which case the terms "you" or "your" shall refer to
such entity, its affiliates and users associated with it. If you do not have
such authority, or if you do not agree with these terms and conditions, you must
not accept this Agreement and may not use the Services or be our CUSTOMER.</p>

  <p>Violation of any of the terms below will result in the termination of your
account. While Arcturus BioCloud prohibits such conduct and content on the
Services, you understand and agree that Arcturus BioCloud cannot be responsible
for the content posted on the Services and you nonetheless may be exposed to
such materials. You agree to use the Services at your own risk.</p>

  <h2>PRIVACY POLICY</h2>

  <p>Arcturus BioCloud is committed to protecting the privacy and security of
your personal information. We want to share with you how we treat personal
information about you that we receive in connection with the Arcturus BioCloud
website ("Website").</p>

  <p>Also, please bear in mind that use of this Website is governed by the Terms
of Use contained herein. The servers that host this Website are located in the
United States, and any personal details you provide to us will be processed by
Arcturus BioCloud in the United States. Arcturus BioCloud expressly excludes any
representation or warranty, express or implied, with respect to the information
available on this Website. Arcturus BioCloud makes no representation about any
third-party websites that may be accessed via links from this Website. By using
this Website, you agree that the laws of the State of California, without regard
to its conflict of laws principles, will govern all matters between you and
Arcturus BioCloud with respect to your use of this Website.</p>

  <h3>Information We Collect</h3>

  <p>In general, you can visit our Website without telling us who you are or
revealing any personal information about yourself. However, you should be aware
that any sections of this Website (including restricted portions of this
Website) that allow for the submission of personal information (referred to for
convenience as "Registration Pages") may contain a function for collecting
various pieces of your personal information including your name, address, email
address, phone number(s), credit card or account information, company, industry,
information about your interests in and use of various products, programs, and
services, and any other information that you decide to provide us with. We only
collect your personal information if you voluntarily submit the information to
us for such purposes as registering for the use of certain services or
restricted portions of this Website or other subscription websites operated by
Arcturus BioCloud, completing surveys, submitting applications for employment,
purchasing product or service offerings, commenting on or creating Website
posts, subscribing to e-newsletters, sharing Content, or requesting information,
products, or services. You may ask us to import your contacts by giving us
access to your third party services (for example, your email account) or to use
your social networking information if you give us access to your account on
social network connection services. We may also receive personal information
through other users, if, for example, they have tried to share something with
you or tried to refer Arcturus BioCloud to you.</p>

  <p>When you use the Services, we automatically record your electronic device
information, its software, and your activity. This may include the device's
Internet Protocol ("IP") address, browser type, the web page visited before you
came to our website, information you search for on our website, locale
preferences, identification numbers associated with your electronic devices,
your mobile carrier, date and time stamps associated with transactions, system
configuration information, metadata concerning your files, and other
interactions with the Services.</p>

  <p>For your information, through certain technologies employed by this Website
we also collect non-personally identifiable information about you. For more
details about this type of data collection, please refer to the section below on
cookies.</p>

  <p>To protect your security and privacy, we require that you (as opposed to a
third party on your behalf) enter the personal information that we may collect
and that the information be current, although Arcturus BioCloud disclaims any
legal duty to verify the accuracy of any personal data that you provide to
Arcturus BioCloud. You are free to access the personal information we have on
file by contacting our Customer Service department by email at
<a href="mailto:founders@arcturus.io">founders@arcturus.io</a>. In addition, at
any time you can request that we modify or delete your personal information by
sending an email to us at
<a href="mailto:founders@arcturus.io">founders@arcturus.io</a> with the words
"UPDATE MY INFORMATION" in the subject line. Please be aware that, to protect
your security and privacy, Arcturus BioCloud may take reasonable steps to verify
your identity prior to making changes to your personal information. For your
information, please note that we may monitor and in some cases record calls for
staff training and quality assurance purposes.</p>

  <h3>How We Use the Information We Collect and Who We Share it With</h3>

  <p>Unless otherwise specified herein, Arcturus BioCloud reserves the right to
compile, save, use within the scope of our activities, and analyze any and all
data about you (contact and personal data, use history, etc.) that we collect
from you through the Website. We may use the personal information about you that
you provide to us for our internal purposes such as responding to our request
for information or materials, contacting your, assessing your application for a
position with Arcturus BioCloud or an entity related to Arcturus BioCloud,
conducting internal analyses such as surveys and market research, processing and
completing order, processing your payment, administering your account, and
administering and developing our business relationship with you or the company
you represent. We may also use your personal information to communicate with
you, such as, for example, to provide you with administrative communications
regarding your account, newsletters, press releases, or information relating to
product offers, or programs that may be of interest to you.</p>

  <p>Arcturus BioCloud has a general policy of not disclosing your personal
information to third parties unless you have consented to such sharing. However,
we may share the personal information about you that you provide to us with
trusted companies we have hired to provide services for us, such as sending out
our newsletters, fulfilling orders you submit, or collecting and processing
information on your behalf. These companies – our vendors – may use personal
information that we share with them only to perform the services we have hired
them to provide. Among the vendors whose services we employ may be companies
that help us deliver online advertisements. These companies may collect and use
information you provide to us to better understand the offers, promotions, and
types of advertising that are most appealing to our customers. After the
information is collected by these third parties, it is aggregated so it is not
personally identifiable or tied to your or any other user. If you would prefer
that these companies not collect your information, please email
<a href="mailto:founders@arcturus.io">founders@arcturus.io</a>.</p>

  <p>We may also share your personal information in the event that the business
of Arcturus BioCloud is transferred to another entity by way of merger, sale of
the company's assets, or otherwise. If you consent to sharing of your personal
information, we may share your information with Arcturus BioCloud related
entities and selected third parties so that they may provide you with or contact
you regarding information and materials that may be of interest to you. Please
refer to the section below on <strong>opting in and out</strong>.</p>

  <p>We may also collect and group demographic and preferences information,
responses to surveys and other personal information that we collect from you
into an aggregate, non-personally identifiable form for disclosure to our
existing or potential business partners, affiliates, sponsors or other third
parties. However, please be assured that this aggregate data will in no way
personally identify you or any other visitors to the Website.</p>

  <p>From time to time, we may collect general, non-personal, statistical
information about the use of the Website, such as how many visitors visit a
specific page on the Website, how long they stay on that page and which
hyperlinks, if any, they "click" on. We collect this information through the use
of "cookies" and other tracking technologies, which are discussed in greater
detail below in the section on <strong>cookies</strong>. We collect this
information in order to determine which areas of the Website are most popular
and to enhance the Website for visitors. As with other aggregated data, we may
disclose such data to our existing or potential business partners, affiliates,
sponsors or other third parties, but this aggregate data will in no way
personally identify you or any other visitors to the Website.</p>

  <h3>Data Storage and Security</h3>

  <p>Arcturus Biocloud uses third party vendors and hosting partners to provide
the necessary hardware, software, networking, storage, and related technology
required to run Arcturus Biocloud. Although Arcturus Biocloud owns the code,
databases, and all rights to the Arcturus Biocloud sites, services,
applications, and tools, you retain all rights to your data.</p>

  <h3>Children's Information and COPPA</h3>

  <p>We do not knowingly collect personal information on children. The content
of our website and the products and services available are not intended for, or
directed to, children. If you are under 18 years of age, then please do not use
of access our website at any time or in any manner.</p>

  <h3>Your Account</h3>

  <div class="col-sm-offset-1">
    <p><strong>Registration</strong>. You must be 18 years or older to use the
Services and you must be a human; otherwise a responsible adult should set your
account. Accounts registered by "bots" or by using other automated methods are
not permitted. You must provide your legal full name and a valid email address
in order to complete the signup process.</p>

    <p><strong>Account Security</strong>. You are responsible for maintaining
the security of your account and password. Arcturus BioCloud cannot and will not
be liable for any loss or damage from your failure to comply with this security
obligation. You are responsible for all content posted and activity that occurs
under your account.</p>

    <p><strong>Illegal Activity</strong>. You may not use the Services for any
illegal or unauthorized purpose. You must not, in the use of the Services,
violate any laws in your jurisdiction (including, but not limited to copyright
or trademark laws).</p>

    <p><strong>Termination</strong>. Arcturus BioCloud, in its sole discretion,
has the right to suspend or terminate your account and refuse any and all
current or future use of the Website, or any other Services, for any reason at
any time. Such termination of the Services will result in the deactivation or
deletion of your account or your access to your account, and the forfeiture and
relinquishment of all content in your account. Arcturus BioCloud reserves the
right to refuse service to anyone for any reason at any time.</p>

    <p><strong>Fees</strong>. Joining Arcturus Biocloud is free and subject to
this Agreement and other Arcturus Biocloud policies. The fees we charge for
using our Services may change from time to time. Unless otherwise stated, all
fees are quoted in American Dollars. You are responsible for paying all fees and
applicable taxes associated with our services, applications and tools with a
valid payment method.</p>
  </div>

  <h3>Use of Cookies and Web Beacons</h3>

  <p>Please note that we may use "cookies" – a small data file that we transfer
to your computer's hard drive -- to collect certain information about you and
your use of our Website, such as IP addresses (the Internet access of a
computer), domain names, and the type of computer and operating system being
used. We may also use cookies to identify your computer when you revisit our
Website to, for example, recall your authentication information or to track
statistical information related to navigation throughout the Website. We may use
both "session" cookies and "persistent" cookies in order to better operate the
Website to enhance your experience while using the Website. A session cookie
enables certain features of the Website and our service and is deleted from your
computer when you disconnect from or leave the Website. If a portion of this
Website requires a password, you are giving us explicit permission to use a
persistent cookie, which is a small data file that is generated when, as a
registered user of this Website, you enter your assigned user ID and password to
access the password-protected area of the Website. This file is stored on your
computer and enables your browser to access each page that is in the
password-protected area. You may adjust your browser to refuse to accept
cookies, remove cookies, or notify you when a cookie is set by editing your web
browser preferences or options. (Each browser is different, so check the "Help"
menu on your browser to learn how to change your cookie preferences.) You do not
have to accept all cookies sent to you by this Website; however, depending on
the particular cookie you reject, you may not be able to use some features of
this Website.</p>

  <p>Please note that linked third-party websites may also use cookies. We
cannot control the use of cookies by these third-party websites. For example,
when you link from this Website to a third-party website, that website may have
the ability to recognize that you have come from our Website by using cookies.
If you have any questions about how third-party websites use cookies, you should
contact such third parties directly. We may also employ software technology
known as "web beacons" or "clear GIFs" which helps us keep track of what content
on our Website is effective. Web beacons are small graphics with a unique
identifier that are used to track the online movements of Internet users. Web
beacons are embedded in the web pages you review, so they are not stored on your
hard drive. The web beacons we use do not track or collect any personally
identifiable information about you and they are in no way linked to your
personally identifiable information.</p>

  <h3>Opting In and Out</h3>

  <p>When you submit personal information to us through the Registration Pages
on this Website, you may be given an opportunity to opt out or opt in to
receiving additional information from Arcturus BioCloud, Arcturus BioCloud
related entities, and/or selected third parties at the time of submitting your
personal information to us. If you opt in, you may be added to our list of users
who will receive promotional and marketing communications from us, our partners,
and/or other third parties. If you initially opt in to receiving such
communications and you later decide that you no longer want to receive them, you
may opt out of receiving promotional and marketing communications from us and/or
our partners and other third parties by emailing us at
<a href="mailto:founders@arcturus.io">founders@arcturus.io</a>.</p>

  <h3>Do Not Track</h3>

  <p>Currently, (i) other parties (e.g. third-party advertising networks and
analytics providers) may collect personal information about your online
activities over time and across different websites when you use our website or
services, and (ii) we reserve the right not respond to, or take any specific
action in connection with the receipt of, Do-Not-Track signals or other similar
mechanisms regarding the collection of personally identifiable information about
an individual consumer's online activities over time and across third-party
websites or online services.</p>

  <h3>Links to Other Websites</h3>

  <p>For your convenience, this Website may from time to time include links to
third-party sites whose information practices may be different than ours.
Visitors should consult the other sites' privacy policies, as we have no control
over information that is submitted to, or collected by, these third parties.</p>

  <h3>Security of Information and Disclosures</h3>

  <p>Arcturus BioCloud uses industry standard security measures to safeguard
information concerning, and submitted by, users like you. Despite the security
measures employed by Arcturus BioCloud, you should be aware that it is
impossible to guarantee absolute security with respect to information sent
through the Internet.</p>

  <p>Arcturus BioCloud will, to the extent possible, control your personal
information, and, except as otherwise set forth in this Privacy Policy, we will
not disclose your personal information to third parties. Although we are
committed to maintaining the confidentiality of your personal info</p>


  <h3>Changes to the Privacy Policy</h3>

  <p>This Privacy Policy is subject to change from time to time. Arcturus
BioCloud will endeavor to post a notice of any changes to this Privacy Policy
following any such modifications. Therefore, you are advised to review this
Privacy Policy occasionally. Your continued use of this Website subsequent to
Arcturus BioCloud's notice of modification of this Privacy Policy shall
constitute your acceptance of the modified Privacy Policy. If any term or
provision of this Privacy Policy shall be found to be invalid, illegal or
otherwise unenforceable, such finding shall not affect the other terms or
provisions of this Privacy Policy, or the whole of this Privacy Policy, but such
term or provision shall be deemed modified to the extent necessary to render
such term or provision enforceable, and the rights and obligations of you and
Arcturus BioCloud shall be construed and enforced accordingly, preserving to the
fullest permissible extent the intent and agreements set forth in this Privacy
Policy.</p>

  <h3>Contacting Us</h3>

  <p>If you have any questions or concerns relating to this Privacy Policy,
please contact us by email at
<a href="mailto:founders@arcturus.io">founders@arcturus.io</a>.</p>

  <h2>USER TERMS OF SERVICE</h2>

  <h3>General</h3>

  <p>Arcturus BioCloud does not transfer legal ownership of items between
CUSTOMERS.</p>

  <h3>Listing Conditions</h3>

  <p>By listing an item on the DNA Public Libraries, you agree to pay Arcturus
BioCloud's fees, to assume full responsibility for the content of the listing
and item offered, and to accept the following listing conditions: when you list
an item on the DNA Public Libraries, your listing will be posted on the Website.
Your listing may not be immediately searchable by keyword or category. Arcturus
BioCloud reserves the right to end your listing for any reason</p>

  <h3>Payment and Refund</h3>

  <div class="col-sm-offset-1">
    <p><strong>General</strong>. Payment using the Services is processed through
the Stripe payment service. Payment is billed in advance and is
non-refundable.</p>

    <p><strong>Taxes, Levies and Duties</strong>. All fees are exclusive of all
taxes, levies, or duties imposed by taxing authorities, and you shall be
responsible for payment of all such taxes, levies, or duties.</p>
  </div>

  <h3>Service Modification</h3>

  <p>Arcturus BioCloud reserves the right at any time, and from time to time,
to modify or discontinue, temporarily or permanently, the Services with or
without notice. Arcturus BioCloud shall not be liable to you or to any third
party for any modification, price change, suspension or discontinuance of the
Services.</p>

  <h3>CUSTOMER IP Agreement</h3>

  <p><strong>CUSTOMER warrants that it has all necessary licenses and rights,
including but not limited to, all patent and other intellectual property rights,
in all sequences and materials provided to Arcturus BioCloud in connection with
any services to be provided to CUSTOMER by Arcturus BioCloud.</strong> CUSTOMER
hereby agrees to and shall indemnify and hold harmless Arcturus BioCloud and its
affiliates, officers, agents, and employees from and against any action, claim,
or liability, including attorneys' fees, arising out of any breach of the
foregoing representation and warranty or arising out of any action related to
actual or alleged infringement of third-party patents directed at Arcturus
BioCloud in connection with services provided to CUSTOMER. Arcturus BioCloud
will claim no ownership interest or intellectual property rights in sequences
provided by CUSTOMER, or in sequences designed by Arcturus BioCloud for CUSTOMER
and paid for in full by CUSTOMER. Upon completion of the Services, Arcturus
BioCloud will retain one copy of the CUSTOMER Work Product for archival purposes
and as required by applicable biosecurity laws and regulations. Ownership of all
proprietary tools used, developed or improved in providing the Services,
including but not limited to gene synthesis process and assembly improvements,
optimization algorithms, and related know-how, including any proprietary
software created therefor, at all times will remain the property of Arcturus
BioCloud.</p>

  <h3>Copyright and Content Ownership</h3>

  <p>We claim no intellectual property rights over the material you provide to
the Services. Your profile and materials uploaded remain yours. However, by
setting your pages to be viewed publicly, you agree to allow others to view your
content and clone your repositories.</p>

  <h3>Design and Code</h3>

  <p>The look and feel of the Website and Services is copyright © 2014 Arcturus
BioCloud Inc. All rights reserved. You may not duplicate, copy, or reuse any
portion of the HTML/CSS, Javascript, or visual design elements or concepts
without express written permission from Arcturus BioCloud.</p>

  <h3>Compliance with the Digital Millennium Copyright Act and Notifications</h3>

  <p>Arcturus BioCloud respects the rights of all copyright holders and in this
regard, we have adopted and implemented a policy that provides for the
termination in appropriate circumstances of users of this Site who infringe the
rights of copyright holders. If you believe that your work has been copied in a
way that constitutes copyright infringement, please provide our Copyright Agent
the following information required by the Digital Millennium Copyright Act, 17
U.S.C. Section 512:</p>

  <div class="col-sm-offset-1">
    <ul>
      <li>A physical or electronic signature of a person authorized to act on
behalf of the owner of an exclusive right that is allegedly infringed;</li>
      <li>Identification of the copyrighted work claimed to have been infringed,
or, if multiple copyrighted works are covered by a single notification, a
representative list of such works;</li>
      <li>Identification of the content that is claimed to be infringing or to
be the subject of infringing activity and that is to be removed or access to
which is to be disabled, and the information reasonably sufficient to permit
Arcturus BioCloud to locate the content;</li>
      <li>Information reasonably sufficient to permit Arcturus BioCloud to
contact the complaining party;</li>
      <li>A statement that the complaining party has a good faith belief that
the use of the content in the manner complained of is not authorized by the
copyright owner, its agent, or the law;</li>
      <li>A statement that the information in the notification is accurate, and
under penalty of perjury, that the complaining party is authorized to act on
behalf of the owner of an exclusive right that is allegedly infringed.</li>
    </ul>
  </div>

  <p>For copyright inquiries under the Digital Millennium Copyright Act, please
contact Arcturus BioCloud's Copyright Agent at:</p>

  <div class="col-sm-offset-1">
    <p>Jaime Sotomayor<br>
Copyright Agent<br>
Arcturus BioCloud, Inc.<br>
2325 3rd St, Suite 202<br>
San Francisco, CA 94107<br>
<a href="mailto:founders@arcturus.io">founders@arcturus.io</a></p>
  </div>

  <h3>Claims, Demands, Suits and Proceedings</h3>

  <p>You shall defend Arcturus BioCloud against any claim, demand, suit or
proceeding made or brought against Arcturus BioCloud by a third party alleging
that your content, or your use of the Services in violation of this Agreement,
infringes or misappropriates the intellectual property rights of a third party
or violates applicable law, and shall indemnify Arcturus BioCloud for any
damages finally awarded against, and for reasonable attorney's fees incurred by,
Arcturus BioCloud in connection with any such claim, demand, suit or proceeding;
provided, that Arcturus BioCloud (a) promptly gives you written notice of the
claim, demand, suit or proceeding; (b) gives you sole control of the defense and
settlement of the claim, demand, suit or proceeding (provided that you may not
settle any claim, demand, suit or proceeding unless the settlement
unconditionally releases Arcturus BioCloud of all liability); and (c) provides
to you all reasonable assistance, at your expense.</p>

  <h3>Conflicts and Disputes</h3>

  <p>You expressly understand and agree that Arcturus BioCloud shall not be
liable for any conflict that arises between members, supervisors, owners, other
Arcturus BioCloud users, or third parties due to ownership of intellectual
property, modifications to project settings, or other damages, losses, or gains
due to the direct, indirect, incidental, special, consequential or exemplary
actions of you, other members, supervisors, owners, Arcturus BioCloud users or
third parties.</p>

  <p>Any conflict that arises between Arcturus BioCloud users or between a
Arcturus BioCloud user and a third party is to be resolved by the parties
involved and you agree that Arcturus BioCloud cannot be held liable for, nor be
included in the process of resolving the conflict.</p>

  <h3>Service Usage</h3>

  <p>Your use of the Services is at your sole risk.</p>

  <h3>Technological Infrastructure</h3>

  <p>You understand that Arcturus BioCloud uses third party vendors and hosting
partners to provide the necessary hardware, software, networking, storage, and
related technology required to run the Services. You understand that the
technical processing and transmission of the Services, including your content,
may be transferred unencrypted and involve (a) transmissions over various
networks; and (b) changes to conform and adapt to technical requirements of
connecting networks or devices.</p>

  <h3>Files</h3>

  <p>We collect and store the files you upload, download, or access with the
Services. If you add a file to our Services that has been previously uploaded by
you or another user, we may anonymously associate all or a portion of the
previous file with your account rather than storing a duplicate.</p>

  <h3>Electronic Communications</h3>

  <p>When you use the Services or send e-mail to Arcturus BioCloud, you are
communicating electronically. You consent to receive communications from us
electronically. We will communicate with you by e-mail or by posting notices on
the Website or through the other Services. You agree that all agreements,
notices, disclosures, and other communications that we provide to you
electronically satisfy any legal requirement that such communications be in
writing.</p>

  <h3>Changes to the Terms of Service</h3>

  <p>These Terms of Service is subject to change from time to time. Arcturus
BioCloud will endeavor to post a notice of any changes to these Terms of Service
following any such modifications. Therefore, you are advised to review these
Terms of Service occasionally. Your continued use of this website subsequent to
Arcturus BioCloud's notice of modification of these Terms of Service shall
constitute your acceptance of the modified Terms of Service. If any term or
provision of these Terms of Service shall be found to be invalid, illegal or
otherwise unenforceable, such finding shall not affect the other terms or
provisions of these Terms of Service, or the whole of these Terms of Service,
but such term or provision shall be deemed modified to the extent necessary to
render such term or provision enforceable, and the rights and obligations of you
and Arcturus BioCloud shall be construed and enforced accordingly, preserving to
the fullest permissible extent the intent and agreements set forth in these
Terms of Service.</p>

  <h3>Biosecurity Compliance</h3>

  <p>Safety and biosecurity are chief priorities of Arcturus BioCloud. In
compliance with the International Gene Synthesis Consortium (IGSC) and with the
US Federal guidelines, that established and strictly follow a Harmonized
Screening Protocol to promote biosecurity. Arcturus BioCloud screens all
incoming orders against the IGSC list of select agents. This list is based on
sequences identified by the US Centers for Disease Control (CDC), US Dept of
Commerce (USDC), US Dept of Agriculture (USDA), and the Australia Group. We
reserve the right to refuse any order.</p>

  <h3>DNA Libraries</h3>

  <div class="col-sm-offset-1">
    <h4>New DNA Parts Deposit</h4>

    <p>Arcturus BioCloud can clone synthetic genes or DNA parts for storage and
use at the Arcturus BioCloud's library. CUSTOMER has the right to decide if the
submitted synthetic genes or DNA parts will be open for use to all the Arcturus
BioCloud's CUSTOMERS or will be kept into CUSTOMER'S private library. CUSTOMER
agrees to pay a monthly fee for maintaining private synthetic genes or DNA parts
at the Arcturus BioCloud's library. CUSTOMER will provide Arcturus BioCloud with
the custom plasmid necessary for Arcturus BioCloud to provide the requested
services when the synthetic genes or DNA parts are sent to Arcturus BioCloud
physically. CUSTOMER must also send the gene sequences before sending the DNA
molecule and wait for a pre-approval period before sending the synthetic genes
or DNA parts. This sequence will be analyzed according to our biosecurity
policy, also described in this document. Such custom plasmid shall remain the
property of CUSTOMER throughout the cloning, storage and sequencing process.
CUSTOMER hereby grants Arcturus BioCloud a limited, non-exclusive, royalty-free
license to use the custom plasmid, the synthetic genes or DNA parts and its
sequences for the purpose of performing the services. By agreeing to the terms
and conditions of this Agreement and providing Arcturus BioCloud with the custom
plasmid and the synthetic genes or DNA parts, CUSTOMER represents and warrants
that it has the power and authority to grant the foregoing license, or otherwise
has obtained all licenses and rights, including all intellectual property
rights, necessary for Arcturus BioCloud to provide the requested services.
CUSTOMER hereby agrees to and shall indemnify and hold harmless Arcturus
BioCloud and its affiliates and their officers, agents, and employees, from and
against any action, claim, or liability, including attorneys' fees, arising out
of any breach of the foregoing representation and warranty, including but not
limited to any claims of patent infringement or other intellectual
property-related claims. For custom cloning projects, no turnaround guarantee is
offered. If Arcturus BioCloud fails to clone the DNA fragment in three attempts
(for commercially available vectors shipped directly from the manufacturer) or
two attempts (for all other vector preparations), Arcturus BioCloud reserves the
right to clone, storage and ship the gene into our in-house vector and use this
for the purposes of storage and use through our platform.</p>

    <h4>Public Catalog - Arcturus BioCloud</h4>

    <p>Arcturus BioCloud has not found any issued patents or published patent
applications with any claims relying on the nucleic acid sequence of Arcturus
BioCloud's parts catalog products designated as Public Catalog. Arcturus
BioCloud is not aware of any pending unpublished patent applications that may be
infringed by the Arcturus BioCloud's Public Catalog. However, Arcturus BioCloud
can't guarantee that one or more patents claiming the Arcturus BioCloud's Public
Catalog have not issued or will not issue. By building application with the
Arcturus BioCloud's Public Catalog, CUSTOMER acknowledges that use of the
Arcturus BioCloud's Public Catalog may be claimed to infringe the intellectual
property rights of third parties and that Arcturus BioCloud provides no
indemnity to CUSTOMER for any such alleged or actual infringement.</p>

    <p>Compliance Terms: Arcturus BioCloud authorizes CUSTOMER to incorporate
the Arcturus BioCloud's Public Catalog into CUSTOMER'S product and sell or
distribute such products to third parties provided that (i) CUSTOMER is not a
direct competitor of Arcturus BioCloud as a provider of DNA constructs or gene
design (ii) CUSTOMER has obtained any third-party licenses required for that
product, (iii) CUSTOMER'S product performs an additional function not performed
by the Arcturus BioCloud's Public Catalog, and (iv) CUSTOMER prominently
acknowledges the incorporation of the Arcturus BioCloud's Public Catalog on the
front, side or back of the CUSTOMER'S product packaging and/or advertising
materials in a font at least as large as that used for the majority of the other
text in that packaging and/or advertising materials. In circumstances where
CUSTOMER cannot satisfy each of these four criteria, CUSTOMER warrants that the
Arcturus BioCloud's Public Catalog (i) will be for single laboratory/company use
only, and (ii) will not be distributed to any other party without Arcturus
BioCloud written permission.</p>

    <h4>SYNBIOTA's Catalog</h4>

    <p>When using the Website and/or Services, you may encounter or interact
with elements of the SYNBIOTA Catalog. For details about this catalog please
refer to
<a href="https://synbiota.com/welcome">https://synbiota.com/welcome</a>.</p>
  </div>

  <h3>Product Shipment</h3>

  <p>Arcturus BioCloud are sold F.O.B. San Francisco, CA. Title and risk of loss
passes to CUSTOMER upon transfer to shipper. Arcturus BioCloud products are
shipped by overnight courier service, unless otherwise requested. Upon receipt
of shipped goods, CUSTOMER will inspect the shipment promptly for damages,
shortages and correct identity  of product. Any claims of non-conformity must be
submitted to Arcturus BioCloud within 30 days of shipment. If CUSTOMER fails to
provide such claim within that period, the shipment will be deemed accepted by
CUSTOMER. <strong>By purchasing any Arcturus BioCloud's product, CUSTOMER
represents and warrants that CUSTOMER has obtained all third-party licenses and
rights, including all patent and intellectual property rights, necessary for
making, using, and selling the Arcturus BioCloud's product as part of CUSTOMER'S
product or application.</strong> CUSTOMER hereby agrees to and shall indemnify
and hold harmless Arcturus BioCloud and its affiliates, officers, agents, and
employees from and against any action, claim, or liability, including attorneys'
fees, arising out of any breach of the foregoing representation and warranty or
arising out of any action related to actual or alleged infringement of
third-party patents directed at Arcturus BioCloud in connection with services
provided to CUSTOMER.</p>

  <h3>Warranty</h3>

  <p>Arcturus BioCloud guarantees that its products will have the sequence
requested by CUSTOMER when assembled, this sequence will be consistent with the
DNA sequencing tracefiles obtained by Arcturus BioCloud from the third parties
during the performance of synthesis services and provided with each product
except to the extent the sequence is not stable in E. coli, in which case
Arcturus BioCloud will communicate with CUSTOMER regarding appropriate
alternatives. <strong>Arcturus BioCloud does NOT guarantee the nucleotide
sequence of the cloning vector. Claims under this warranty must be submitted
within 30 days of shipment. Arcturus BioCloud is responsible for the assembly
not extending this responsibility to the synthesis. The synthesis will be
responsibility and its warranty will be in compliance with the third parties
that synthesized the sequence for CUSTOMER. This warranty does not applied to
construction that cannot be cloned because of toxicity to the E. coli host in
which it is grown. Any product that is not identical to the requested sequence
will be replaced or authorized for return and credit, at Arcturus BioCloud's
option. These are the sole remedies for any breach of the foregoing
warranty.</strong></p>

  <h3>DISCLAIMER OF WARRANTY</h3>

  <p><strong>THE WARRANTY SET FORTH ABOVE IS IN LIEU OF ALL OTHER WARRANTIES,
EXPRESSED OR IMPLIED. ALL OTHER WARRANTIES, INCLUDING WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR INFRINGEMENT, ARE
EXCLUDED AND HEREBY DISCLAIMED. Arcturus BioCloud SHALL NOT BE LIABLE FOR ANY
INCIDENTAL, CONSEQUENTIAL, CONTINGENT, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING
WITHOUT LIMITATION PERSONAL INJURY, PROPERTY DAMAGE, LOST PROFIT OR OTHER
ECONOMIC LOSS, ARISING IN CONNECTION WITH CUSTOMER'S USE OF OR INABILITY TO USE
THE GOODS AND SERVICES PROVIDED BY Arcturus BioCloud. Arcturus BioCloud WILL NOT
BE LIABLE FOR ANY USE BY CUSTOMER OF PRODUCTS OR SERVICES OR FOR ANY LOSS,
CLAIM, DAMAGE, OR LIABILITY OF ANY KIND OR NATURE THAT MAY ARISE FROM THE USE,
HANDLING, OR STORAGE OF SUCH PRODUCTS OR SERVICES. IN NO EVENT WILL Arcturus
BioCloud's TOTAL LIABILITY, IF ANY, EXCEED THE AMOUNT PAID BY CUSTOMER FOR THE
PRODUCTS OR SERVICES. Arcturus BioCloud PROVIDES NO WARRANTY OR GUARANTEE TO
CUSTOMER THAT THESE PRODUCTS AND SERVICES, AND CUSTOMER'S USE THEREOF, ARE FREE
FROM INFRINGEMENT OF ANY THIRD-PARTY PATENTS OR OTHER THIRD PARTY PROPRIETARY
RIGHTS.</strong></p>

  <h3>Misleading Representation</h3>

  <p>You must not modify, adapt or hack the Website or Services or modify
another website so as to falsely imply that it is associated with the website,
Services or Arcturus BioCloud. You agree not to reproduce, duplicate, copy,
sell, resell or exploit any portion of the Services, use of the Services, or
access to the Services without the express written permission by Arcturus
BioCloud.</p>

  <h3>Content Removal</h3>

  <p>We may, but have no obligation to, remove content and accounts containing
content that we determine in our sole discretion are unlawful, offensive,
threatening, libelous, defamatory, pornographic, obscene or otherwise
objectionable or violates any party's intellectual property or these Terms of
Service.</p>

  <h3>Malicious Activity</h3>

  <p>You must not deliberately or unintentionally upload, post, or transmit any
worms or viruses or any code of a direct or indirect malicious or destructive
nature or that can be used to spy on Arcturus BioCloud processes, data or other
Arcturus BioCloud users. You must not upload, post, host, or transmit
unsolicited email, SMSs, or "spam" messages.</p>

  <h3>Damages</h3>

  <p>You expressly understand and agree that, to the extent permitted by
applicable law, Arcturus BioCloud shall not be liable for any direct, indirect,
incidental, special, consequential or exemplary damages, including but not
limited to, damages for loss of profits, goodwill, use, data or other intangible
losses (even if Arcturus BioCloud has been advised of the possibility of such
damages), resulting from: (i) the use or the inability to use the Services; (ii)
the cost of procurement of substitute goods and services resulting from any
goods, data, information or services purchased or obtained or messages received
or transactions entered into through or from the Services; (iii) unauthorized
access to or alteration of your transmissions or data; (iv) statements or
conduct of any third party on the Services; (v) or any other matter relating to
the Services.</p>

  <h3>Agency</h3>

  <p>No agency, partnership, joint venture, employee-employer, or
franchiser-franchisee relationship is intended or created by this Agreement.</p>

  <h3>Other</h3>

  <p>The failure of Arcturus BioCloud to exercise or enforce any right or
provision of the Terms of Service shall not constitute a waiver of such right or
provision. The Terms of Service constitutes the entire agreement between you and
Arcturus BioCloud and governs your use of the Services, superseding any prior
agreements between you and Arcturus BioCloud (including, but not limited to, any
prior versions of the Terms of Service).</p>

  <h3>Severability</h3>

  <p>Should any provision of this Agreement be deemed invalid, entirely or in
part, by a court of competent jurisdiction, such invalidity shall not affect the
validity of the remaining provisions, which shall not be impaired in any way and
shall remain in full force and effect. The parties agree to replace the invalid
provision by a valid provision that comes as close as possible to the economic
intentions of the parties as evidenced by such invalid provisions.</p>

  <h3>Governing Law</h3>

  <p>This Agreement will be interpreted and governed by the law of the State of
California, excluding its conflicts of laws rules.</p>

  <h3>Outside the USA</h3>

  <p>The information on Arcturus BioCloud's Web site and Arcturus BioCloud's
products and services are intended only for customers in the United States of
America. Regulatory requirements, laws, and distribution of information about
genetic material may vary from country to country. The information may not be
appropriate outside the United States of America. CUSTOMER is responsible for
complying with all applicable laws necessary for Arcturus BioCloud to provide
the products and services to CUSTOMER outside the United States, and CUSTOMER
hereby agrees to and shall indemnify and hold harmless Arcturus BioCloud and
its affiliates and their officers, agents, and employees from any failure by
CUSTOMER to do so.</p>

</div>
