<div class="container">
  <div class="slogan">
    <h1>New project</h1>
    <p>Define the name, public or private project and start designing it right away!</p>
    <hr/>

    <% if flash.any? %>
      <% unless flash.first[1].blank? %>
        <div class="alert alert-danger">
          <%= flash.first[1].html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render 'form' %>
</div>
