<div class="container">
  <div class="slogan">
    <h1>New project</h1>
    <p class="lead">Define the name, scope and start designing it right away!</p>
    <hr/>
  </div>

  <%= render 'form' %>
</div>
