<div class="container">
  <div class="slogan">
    <h1>New experiment</h1>
    <p class="lead">Create experiments that will be used by the projects</p>
    <hr/>
  </div>

  <%= render partial: 'form', locals: { value: 'Create' } %>
</div>
